@page "/Admin/Usuario/Details"
@model UsuarioDetailsModel
@{
    ViewData["Title"] = "Detalles de Usuario";
}


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8">
        <div class="card shadow">
            <h5  class="card-header text-center">Detalles del Usuario</h5>           
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 pb-4">
                        <span>Nombre</span>
                        <h5>@Model.Input.Data.Name</h5>
                    </div>
                    <div class="col-sm-12 col-md-6 pb-4">
                        <span>Apellido</span>
                        <h5>@Model.Input.Data.LastName</h5>
                    </div>
                    <div class="col-sm-12 col-md-6 pb-4">
                        <span>Número de Identificación</span>
                        @if (Model.Input.Data.NID == null)
                        {
                            <br /><span class="text-muted">(No definido)</span>
                        } 
                        else
                        {
                            <h5>@Model.Input.Data.NID</h5>
                        }
                    </div>
                    <div class="col-sm-12 col-md-6 pb-4">
                        <span>Correo electrónico</span>
                        <h5>@Model.Input.Data.IdentityUser.Email</h5>
                    </div>
                    <div class="col-sm-12 col-md-6 pb-4">
                        <span>Número de Teléfono</span>
                        @if (Model.Input.Data.IdentityUser.PhoneNumber == null)
                        {
                            <br /><span class="text-muted">(No definido)</span>
                        }
                        else
                        {
                            <h5>@Model.Input.Data.IdentityUser.PhoneNumber</h5>
                        }
                    </div>
                    <div class="col-sm-12 col-md-6 pb-4">
                        <span>Rol</span>
                        <h5>@Model.Input.Data.Role</h5>
                    </div>

                </div>
                <div class="text-center">
                    @{
                        var usuario_string = JsonConvert.SerializeObject(Model.Input.Data);
                    }
                    <form asp-area="Admin" asp-page="UsuarioForm" method="post" class="d-inline">
                        <input type="hidden" name="dataUser" value="@usuario_string" />
                        <button type="submit" class="btn btn-success"><i class="far fa-edit"></i> Editar</button>
                    </form>
                    <form asp-area="Admin" asp-page="UsuarioDelete" method="post" class="d-inline">
                        <input type="hidden" name="usuario_string" value="@usuario_string" />
                        <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <a href="/Admin/Usuarios" class="btn btn-outline-secondary rounded-pill"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
</div>