@model IEnumerable<Sirep.Models.Centro>

@{
    ViewData["Title"] = "Centros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Gestión de Centros Piscícolas</h2>
<hr />
<h4 class="mt-5 mb-3 text-center">
    Lista de Centros
    <a class="btn btn-primary mx-3" asp-action="Create">
        <i class="fas fa-user-plus"></i> Agregar Centro
    </a>
</h4>

<div class="table-responsive">
    <table class="table table-hover" id="mytable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    Lugar
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lugar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento.Nombre)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">
                            <i class="far fa-eye"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">
                            <i class="far fa-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center mt-5">
    <a href="/Admin/Inicio" class="btn btn-outline-secondary rounded-pill"><i class="fas fa-arrow-left"></i> Volver al Inicio</a>
</div>