@model List<UsuarioInputModel>
@{
    ViewData["Title"] = "Usuarios";
}

<h1>Gestión de Usuarios</h1>
<hr />
<h4 class="mb-3 text-center">
    Lista de Usuarios
    <a class="btn btn-primary" href="/Admin/Usuarios/Form">
        <i class="fas fa-user-plus"></i> Agregar usuario
    </a>
</h4>
<div class="table-responsive">
    <table id="mytable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">NID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(modelItem => item.NID)</th>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdentityUser.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Role)</td>
                    <td class="py-2">
                        <a class="btn btn-outline-info btn-sm" href="/Admin/Usuario/Details?id=@item.Id">
                            <i class="far fa-eye"></i>
                        </a>
                        @{
                            var usuario_string = JsonConvert.SerializeObject(item);
                        }
                        <form method="post" action="/Admin/Usuarios/Form" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="dataUser" value="@usuario_string" />
                            <button type="submit" class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button>
                        </form>
                        <form method="post" action="/Admin/Usuario/Delete" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="usuario_string" value="@usuario_string" />
                            <button type="submit" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center mt-5">
    <a href="/Admin/Inicio" class="btn btn-outline-secondary rounded-pill"><i class="fas fa-arrow-left"></i> Volver al Inicio</a>
</div>

