@model List<Centro>
@{
    ViewData["Title"] = "Gestión de Centros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de Centros Piscicolas</h2>
<hr />

@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var centro in Model)
        {
            <div class="col-lg-6">
                <div class="card shadow border-primary">
                    <h5 class="card-header bg-primary text-light"> @centro.Nombre </h5>

                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-5">
                                Dirección:
                            </dt>
                            <dd class="col-sm-5">
                                @centro.Direccion
                            </dd>
                            <dt class="col-sm-5">
                                Corregimiento/Vereda:
                            </dt>
                            <dd class="col-sm-5">
                                @centro.Lugar
                            </dd>
                            <dt class="col-sm-5">
                                Departamento:
                            </dt>
                            <dd class="col-sm-5">
                                @centro.Departamento.Nombre
                            </dd>
                        </dl>
                        <hr />
                        <h5>Número de Lotes: <span class="badge badge-primary">@centro.Lotes.Count()</span></h5>
                        <h5>Número de Reproductores: <span class="badge badge-primary">@ViewBag.cantidadReproductores[centro.Id]</span></h5>

                        <div class="text-right">
                            <a href="/Centro/Lotes/@centro.Id" class="btn btn-primary">
                                Gestionar Centro <i class="fas fa-tasks"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-primary m-4 fz-20" role="alert">
        Usted no tiene ningún Centro Piscícola asignado en este momento.
    </div>
}



